.section-title {
    @include font-title;
    text-align: center;
    margin-bottom: 40px;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
     -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
         animation: fadein 2s;
}

.blue-font {
    color: $blue;
}

.white-font {
    color: $white;
}


@media (max-width: 768px) {
    .section-title {  
        font-size: $font-size-title-sm;
    }
 }