p {
    margin: 0 !important;
    padding: 0 !important;
}

.text {
    @include font-text;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.light-text {
    @include font-lighttext;
}

.medium-weight{
    font-weight: 400;
}

.white-font {
    color: $white;
}