.head-title {
    @include font-head;
    color: $white;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.small-title {
   @include font-small-title;

   transition: ease-in-out 0.5s;
   -webkit-animation: fadein 2s;
   -moz-animation: fadein 2s;
    -ms-animation: fadein 2s; 
     -o-animation: fadein 2s; 
        animation: fadein 2s;
}

.title-blue {
   color: $blue;
}

.title-white {
   color: $white;
}

@media (max-width: 992px) {  
   .head-title {
      @include font-small-title
   }
}