.head-title {
    @include font-head;
    color: $white;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadetext 2s;
       -moz-animation: fadetext 2s;
        -ms-animation: fadetext 2s; 
         -o-animation: fadetext 2s; 
            animation: fadetext 2s;
}

.small-title {
   @include font-small-title;
   color: $blue;
   text-align:center;
}

@media (max-width: 768px) {  
   .head-title {
      @include font-small-title
   }
}