.menuNav__wrapper {
    display: flex;
    
}

.menuItems {
    display: none;
}

.header__dropDown {
    position: absolute;
    margin-top: .5rem;
    left: 6rem;
}

.menuItem__dropDown {
    margin-top: .5rem;
    width: 10rem;
}

.NavItemHowDoes {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-left: 10rem;
   
    
}




@media screen and (min-width: 768px) {
    .menuItems {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5rem;
        font-weight: bold;
        color: white;
    }
    

}

@media screen and (min-width: 992px) {
    .menuItem__dropDown::after {
        content: url('../../assets//icons/dropdown.svg');
        margin-left: .4rem;
    }

    .header__dropDown {
        position: absolute;
        left: 7rem;

    }
}