@import url("https://use.typekit.net/sjv8igz.css");

/**
* Variables
*/

// FONTS
$primary-font: tenon, sans-serif; 

// COLORS
$white: #FAFBFA;

// GRADIENTS

// SIZES
$font-size-head: 60px;
$font-size-title: 50px;
$font-size-text: 22px;

// SHADOWS
$standard-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
