@import url("https://use.typekit.net/sjv8igz.css");

/**
* Variables
*/

// FONTS
$primary-font: tenon, sans-serif; 

// COLORS
$white: #FAFBFA;
$blue: #008FFF;
$dark-blue: #0C43C6;
$lightblue: #EBF2F5;
$yellow: #F2AC19;
$purple: #BD19BE;
$black: #161616;

// GRADIENTS
$yellow-gradient: linear-gradient(90deg, rgba(255,203,33,1) 0%, rgba(239,165,23,1) 100%);
$purple-gradient: linear-gradient(90deg, rgba(189,25,190,1) 0%, rgba(119,8,167,1) 100%);

// SIZES
$font-size-head: 60px;
$font-size-title: 50px;
$font-size-smalltitle: 36px;
$font-size-input: 34px;
$font-size-subscribe: 30px;
$font-size-text: 18px;
$font-size-button: 20px;
$font-size-lighttext: 16px;
$font-size-smalltext: 12px;

// SHADOWS
$standard-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
