@import './variables';
@import './mixins';
@import './animations';
@import './components/index.scss';
@import './partials/index.scss';
@import './pages/index.scss';

.App {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    
}