.head {
    background-image: url("../../assets/bgImages/header_bg.png");
    background-size:  cover;
    background-position-y: -10vh;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
}