.head {
    background-image: url("../../assets/bgImages/header_bg.png");
    background-size:  cover;
    background-position-y: -10vh;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {  
    .head {
        height: 100vh;
        background-position-y: 0vh;
        align-items: flex-start;
        padding-top: 150px;

        .text {
            @include font-lighttext;
        }
    }
}