.influencer-box {
    background-color: $lightblue;
    padding: 20px;
    border-radius: 50px;
    margin-top: 20px;

    .small-title {
        margin-bottom: 20px;
    }

    .light-text {
        margin-bottom: 10px;
    }
}