.influencer-container {
    margin-top: 100px;
}

.influencer-box {
    background-color: $lightblue;
    padding: 40px 0px;
    border-radius: 50px;
    margin-top: 20px;
    display: none;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;

    .small-title {
        margin-bottom: 20px;
    }

    .light-text {
        margin-bottom: 10px;
    }
}

.col-influencer {
    margin-top: 20px;
}

.influencer-rating {
    display: flex;
    justify-content: center;
    align-items: center;

    &__point {
        border-radius: 100%;
        background-color: $blue;
        width: 15px;
        height: 15px;
        margin: 1px;
        opacity: 0.2;
        margin-top: 10px;
        transition: ease-in-out 0.5s;
    }

    .valid-point {
        opacity: 1;
    }
}

.influencer-info {
    margin-top: 20px;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out 0.5s;

        p {
            font-family: $primary-font;
            cursor: pointer;
            font-size: $font-size-smalltext;
        }

        p:hover {
            text-decoration: underline;
        }

        img {
            width: 15px;
            margin-left: 10px;
        }
    }

    &__card {
        display: none;

        border-radius: 50px;
        margin-top: 20px;
        background-color: $lightblue;
        padding: 20px 60px;
        width: 100%;
        opacity: 0;
        position: relative;

        transition: ease-in-out 0.3s;

        h4 {
            font-family: $font-size-text;
            color: $blue;
            font-family: $primary-font;
            margin: 0;

            margin-bottom: 10px;
        }

        p {
            color: $black;
            font-family: $primary-font;
            font-size: $font-size-lighttext;
            margin: 0;
        }

        &--exit {
            position: absolute;
            right: 60px;

            img {
                width: 15px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 992px) {  
    .influencer-container {
        margin-top: 0px;
        margin-bottom: 150px;
    }
}