.notfound-section {
    margin-top: 100px;

    &__text {
        text-align: center;
        color: $black;
        font-family: $primary-font;
        font-size: $font-size-lighttext;
    }

    &__button {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        a {
            background-color: $blue;
            padding: 10px 20px;
            border-radius: 50px;

            p {
                color: $white;
                font-family: $primary-font;
                font-size: $font-size-lighttext;
                font-weight: bold;
            }
        }

        a:hover {
            text-decoration: none;
            opacity: 0.8;
        }
    }
}