.partner {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;

    &__section {
        width: 70%;
        padding: 50px 80px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

        img {
            width: 190px;
        }
    }
}

.partner-influencer {
    background: $yellow-gradient;
}

.partner-brand {
    background: $purple-gradient;
}