.section-two {
    width: 100vw;
    position: relative;
    padding-top: 200px;
    padding-bottom: 150px;

    background-image: url("../../assets/bgImages/sectionTwoYellow.svg");
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: center;

    .section-two__mockup {
        background-image: url("../../assets/mock/iphone-swipe.png");
        background-position: center;
        background-size: 100%;

        width: 300px;
        height: 530px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .section-two__mockup--mobile {
        width: 100vw;
    }

    .section-two__text-container {
        text-align: center;
        margin-bottom: 80px;
        div {
            margin: 0 auto;
        }
    }
    .column-left, .column-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .column-left {
        align-items: flex-end;
        margin-left: 20px;
    }
    .column-right {
        align-items: flex-start;
        margin-right: 20px;
    }

    .section-two__mobile-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;

        margin: 0 auto;
        padding: 10% 0;

        width: 100%;
        height:100%;
        position: absolute;
        top: 0;
    }
}