.section-end {
    background-color: $lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 450px;
    position: relative;
    border-radius: 50px;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;

    &__mock {
        width: 360px;
        position: absolute;
        top: -270px;
        transform: rotate(-5deg);
    }

    &__content {
        padding: 50px 50px 50px 400px;

        .section-title {
            text-align: left;
            margin-bottom: 0;
        }

        .download-button {
            margin: 20px 10px 0px 0px;
        }
    }
}

@media (max-width: 992px) {  
    .section-end {
        margin-top: 150px;

        &__content {
            padding: 50px 10px 50px 10px;

            .section-title {
                text-align: center;
                margin-bottom: 0;
            }

            .download-buttons {
                display: flex;
                justify-content: center;
                margin: 20px 10px 0px 10px;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .section-end {
        margin-top: 600px;
        &__mock {
            width: 460px;
            position: absolute;
            top: -450px;
            transform: rotate(-5deg);
        }

        &__content {
            padding: 50px 10px 50px 500px;
        }

        .section-title {
            font-size: $font-size-head;
        }
    }
}