@import '../variables';


.tiles-section-container {
    display:flex;
    justify-content: center;

    margin-top: 200px;
    .tiles-section {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // align-items: center;

        .tile-container:nth-child(2) {
        }

        .tile:nth-child(3) {
            width: 100%;
        }
    }
}   


.tiles-section-container-sm {
    display:flex;
    justify-content: center;
    
    margin-top: 200px;
    .tiles-section {
        .tile {
            width: 100%;
        }
    }

}   