.choice-button {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;

    &__text {
        color: $white;
        font-family: $primary-font;
    }

    &__arrow {
        margin-left: 10px;
        transition: ease-in-out 0.3s;
        
        img {
            width: 15px;
        }
    }
}

.choice-button-option {
    background-color: #0C43C6;
    padding: 10px 30px;
    margin: 10px 0px;
    position: absolute;
    cursor: pointer;
    right: 0px;
    box-shadow: $standard-shadow;
    transition: ease-in-out 0.3s;
    border-radius: 20px;

    &__text {
        color: $white;
        font-family: $primary-font;
    }
}

.download-buttons {
    display: flex;
}

.download-button {
    height: 50px;
    margin: 50px 20px 20px 0px;
    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.language-buttons {
    display: flex;
    align-items: center;
}

.language-button {
    color: $white;
    font-weight: 100;
    margin-right: 30px !important;
    cursor: pointer !important;
    font-size: $font-size-button;
    font-family: $primary-font;
    opacity: 0.5;
}

.language-button:hover {
    text-decoration: underline;
}

.used-button {
    opacity: 1;
    cursor: auto !important;
}

.used-button:hover {
    text-decoration: none;
}

.light-button {
    color: $white !important;
    font-family: $primary-font;
    cursor: pointer !important;
    font-weight: 100;
    font-size: $font-size-button;
}

.social-buttons {
    display: flex;
    justify-content: space-between;

    a {
        margin-left: 10px;

        img {
            height: 25px;
        }

        img:hover {
            opacity: 0.8;
        }
    }
}

.influencer-buttons {
    display: flex;
    justify-content: space-around;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;

    .influencer-button {
        opacity: 0.5;
        transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;

        p {
            color: $blue !important;
            font-family: $primary-font;
            cursor: pointer !important;
            font-weight: 100;
            font-size: $font-size-button;
        }
    }
}

@media (max-width: 768px) {  
    .language-buttons {
        justify-content: center;
        margin-bottom: 10px;
    }

    .light-button {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .social-buttons {
        justify-content: center;
    }
 }