.choice-button {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;

    &__text {
        color: $white;
        font-family: $primary-font;
    }

    &__arrow {
        margin-left: 10px;
        transition: ease-in-out 0.3s;
        
        img {
            width: 15px;
        }
    }
}

.choice-button-option {
    background-color: #0C43C6;
    padding: 10px 30px;
    margin: 10px 0px;
    position: absolute;
    cursor: pointer;
    right: 0px;
    box-shadow: $standard-shadow;
    transition: ease-in-out 0.3s;
    border-radius: 20px;

    &__text {
        color: $white;
        font-family: $primary-font;
    }
}

.download-buttons {
    display: flex;
}

.download-button {
    height: 50px;
    margin: 50px 20px 20px 0px;
    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.language-buttons {
    display: flex;
    align-items: center;
}

.language-button {
    color: $white;
    font-weight: 100;
    margin-right: 30px !important;
    cursor: pointer !important;
    font-size: $font-size-button;
    font-family: $primary-font;
    opacity: 0.5;
}

.language-button:hover {
    text-decoration: underline;
}

.used-button {
    opacity: 1;
    cursor: auto !important;
}

.used-button:hover {
    text-decoration: none;
}

.light-button {
    color: $white !important;
    font-family: $primary-font;
    cursor: pointer !important;
    font-weight: 100;
    font-size: $font-size-button;
}

.social-buttons {
    display: flex;
    justify-content: space-between;

    a {
        margin-left: 10px;

        img {
            height: 25px;
        }

        img:hover {
            opacity: 0.8;
        }
    }
}

.influencer-buttons {
    display: flex;
    justify-content: space-around;

    transition: ease-in-out 0.5s;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;

    .influencer-button {
        opacity: 0.5;
        transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;

        p {
            color: $blue !important;
            font-family: $primary-font;
            cursor: pointer !important;
            font-weight: 100;
            font-size: $font-size-button;
        }
    }
}

.hamburger-button {
    position: absolute;
    top: 43px;
    right: 20px;
    cursor: pointer;
    z-index: 99;
    transition: ease-in-out 0.5s;

    &__first {
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background: $white;

        transition: cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
    }

    &__second {
        margin-top: 5px;
        width: 20px;
        height: 4px;
        border-radius: 50px;
        background: $white;

        transition: cubic-bezier(0.86, 0, 0.07, 1) 0.5s;
    }
}

.hamburger-button:hover .hamburger-button__second {
    transform: translate(0px, -10px) rotate(90deg);
    width: 30px;
}

@media (max-width: 768px) {  
    .language-buttons {
        justify-content: center;
        margin-bottom: 10px;
    }

    .light-button {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .social-buttons {
        justify-content: center;
    }
 }

 .switch {
     display:flex;
     justify-content: space-between;
     width: 200px;
     margin: 20px;
     cursor: pointer;

     position: relative;

    .page-switch__full-bg {
        position: absolute;
        top: -4px;
        z-index: -2;
        background-color: #CCE9FE;
        width: 200px;
        height: 36px;
        border-radius: 14px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2) ;
    }

     p {
         @include font-text;
         position: relative;
         color: $blue;
         font-size: 18px;
         font-weight: 800;
     }
     
    .page-switch__value-one {
        text-align: center;
        width:100%;
    }

    .page-switch__bg {
        background-color: $dark-blue;
        position: absolute;
        top: -4px;
        left: 50%;
        width: 50%;
        height: 36px;
        z-index: -2;
        border-radius: 14px;

        transition: left 0.15s ease-out;
    }

    .page-switch__bg--value-two {
        left: 50%;
        box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2) ;
    }
    .page-switch__bg--value-one {
        left: 0%;
        box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2) ;
    }

    .page-switch__value-two {
        text-align: center;
        width:100%;
    }

    .page-switch__text--selected {
        color: $white;
    }
 }

 .primary-button {
     padding: 20px;

     button {
        border:none;
        border-radius: 22px;
        background-color:$blue;
        color: $white;
        padding: 10px 20px;
        text-transform: uppercase;
        @include font-text;

        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
     }
 }

.read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    &__line {
        background-color: $white;
        width: 60px;
        height: 0.5px;
    }

    h4 {
        font-size: $font-size-read;
        color: $white;
        font-family: $primary-font;
        margin: 0;
        margin-left: 10px;
    }
}

.read-more:hover {
    text-decoration: none;
}