.choice-button {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;

    &__text {
        color: $white;
        font-family: $primary-font;
    }

    &__arrow {
        margin-left: 10px;
        
        img {
            width: 15px;
        }
    }
}

.choice-button:hover {
    opacity: 0.8;
}

.choice-button-option {
    background-color: #0C43C6;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    box-shadow: $standard-shadow;
    opacity: 0;
    display: none;
    transition: ease-in-out 0.3s;

    &__text {
        color: $white;
        font-family: $primary-font;
    }
}

.download-buttons {
    display: flex;
}

.download-button {
    height: 50px;
    margin: 50px 20px 20px 0px;
    cursor: pointer;
}