.menuItemsHamburger {
    list-style-type: none;
    color: #4098E6;
    padding:0;
    margin:0;
    margin-top: 4rem;
}

.menuItemHamburger::after{
    content: url('../../assets/icons/HamburgerMenuFunDrop.svg');
    margin-left: .4rem;
}