.accordion {
    margin-top: 4rem;
    
}

.heading {
    color: #4098E6;
}

.dropDownMenuHamburger {
    display: flex;
    flex-direction: column;
    
}

.hamburger__menu__link {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 5rem;
}