.input-field {
    input[type="text"] {
        background-color: #CCE9FE;
        border:none;
        border-radius: 8px;
        padding: 7px 20px;
        width: 100%;
        color: #94CBF5;

        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    }
}