.popup-fullscreen {
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
}

.popup-container {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    
    .section-title {
        transition: none;
        -webkit-animation: none;
        -moz-animation: none;
         -ms-animation: none; 
          -o-animation: none; 
             animation: none;
    }

    .text {
        transition: none;
        -webkit-animation: none;
        -moz-animation: none;
         -ms-animation: none; 
          -o-animation: none; 
             animation: none;
    }

    .popup {
        background-color: $white;
        z-index: 1000;

        padding: 80px 80px 40px 80px;
        width: 600px;
        border-radius: 22px;
        
        display:flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        .popup__page-type {
            margin-bottom: 50px;

            p {
                text-align: center;
            }
        }

        .popup-exit {
            position: absolute;
            left: 30px;
            top: 30px;
            cursor: pointer;

            img {
                width: 20px;
            }
        }
    }
}