@import '../../variables';

.popup-fullscreen {
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1000;
}

.popup-container {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    .popup {
        background-color: $white;
        z-index: 1000;
    }
}