    .tile {
        width: 49%;
        border-radius: 22px;
        background-color: $grey;
        padding: 35px 60px;
        margin-bottom: 20px;
        @include font-text;
        display: flex;
        flex-direction: column;
        align-items: center;

        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        .tile__title {
            color:$blue;
            font-size: 22px;
        }

        .tile__icon {
            width: 60px;
            margin: 40px 0;
        }
    }