.detailPageSectionInfo__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-bottom: 15rem;
    text-align: center;

    
}

.sectionInfo__imageContainer {
    display: flex;
    justify-content: center;
}

.detailWrapper {
    width: 100vw;
    overflow: hidden;
}

.directionLeft {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-bottom: 15rem;


   
}

.illustration {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}


.detailPageSectionInfo__paragraphs {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
    margin-right: 2rem;
}

.detailPageSectionInfo__title {
    font-size: 3rem;
    width: 65%;
    color: #5375FF;

}

.overflow {
    display: none;
}

.detailPageSectionInfo__paragraph {
    line-height: 2.5rem;
    font-size: 1.3rem;
    color: #1E1E1E;

}


@media screen and (min-width: 1200px) {
    .overflow {
        display: flex;
        justify-content: center;
    }

    .detailPageSectionInfo__wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        
    }

    
    .directionLeft {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;

       
    }

    .detailPageSectionInfo__paragraphs {
        display: flex;
        align-items: unset;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        margin-left: 10rem;
        margin-right: 10rem;
    
    }

    .sectionInfo__imageContainer {
        width: 50vw;
    }

    
}